@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  @apply box-border list-none p-0 m-0 scroll-smooth;
}
body {
  @apply bg-black  min-h-screen;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.6),
      rgba(1, 1, 1, 0.6)
    ),
    url('/bg.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as desired */
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Define gradient colors */
::-webkit-scrollbar-thumb {
  background: linear-gradient(93.83deg, #00fff7, #07f);
  border-radius: 2px; /* Adjust the border-radius */

  transition: background 0.3s ease; /* Smooth transition for background change */
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 20px 25px 18px;
  border-color: transparent transparent rgb(31, 195, 220) transparent;
  transform: rotate(0deg);
}
